.HeaderContainer {
  background-position-x: 101%;
  background-position-y: 90%;
  @apply max-h-80 bg-no-repeat bg-[url('../../public/headerbg.png')] bg-[#0f4a7b] py-8 px-16;
}

.HeaderContainer h1 {
  @apply p-12 my-6 tracking-widest text-white text-[40px];
}

.topHeader {
  @apply flex justify-between items-center;
}
.topHeader nav {
  @apply flex justify-between items-center;
  width: 35%;
}
.topHeader nav a {
  @apply text-lg no-underline text-[#ffffff99];
}
.topHeader nav a:hover {
  @apply text-white font-black;
}
.active {
  @apply text-[#ffffff] font-black;
}
.topHeader nav button {
  @apply text-[#0f4a7b] text-base py-2 px-4 rounded-md bg-[#ffeded] font-black;
}
.search {
  box-shadow: 0px 4px 17px rgba(15, 74, 123, 0.15);
  @apply flex justify-evenly w-5/6 mx-auto rounded-lg bg-white p-4;
}
.search div {
  @apply w-[45%] flex items-center;
}
.search div input {
  @apply w-[95%] text-base p-3;
}
.search div input:focus {
  @apply outline-none;
}
.search button {
  @apply text-white text-base py-2 px-5 rounded-md bg-[#ea5566] font-black;
}
.ContentStyle {
  @apply py-20 px-20 text-xs;
}
.topContent {
  @apply flex w-[47%] text-[#3e3e40] justify-between items-center;
}
.topContent h2 {
  @apply text-base;
}
.topContent h3 {
  @apply text-[#3e3e4080];
}
.jobContent {
  @apply flex justify-between text-black mt-4;
}
.jobList {
  @apply w-[48%];
}
.jobDesc {
  @apply w-[48%] my-4 py-10  rounded-lg;
  box-shadow: 0px 4px 17px rgba(98, 190, 203, 0.15);
  border-radius: 10px;
}
.jobDesc div {
  @apply px-8 border-b-[1px] pb-6 border-red-600;
}
.SingleJobDiv_active,
.SingleJobDiv {
  box-shadow: 0px 4px 17px rgba(98, 190, 203, 0.15);
  @apply w-full my-4 rounded-md p-6 pb-12;
}
.jobDesc h1 {
  @apply text-2xl text-[#0f4a7b] mb-3 font-bold;
}
.SingleJobDiv h1 {
  @apply text-xl text-[#0f4a7b] mb-3 font-bold;
}
.SingleJobDiv_active h1 {
  @apply text-xl  mb-3 font-bold;
}
.jobDesc h2 {
  @apply text-lg mb-4;
}
.SingleJobDiv_active h2,
.SingleJobDiv h2 {
  @apply text-lg;
}
.SingleJobDiv_active p,
.SingleJobDiv p {
  @apply text-sm  py-2;
}
.jobDesc article {
  @apply p-8;
}
.jobDesc p {
  @apply text-base pb-4;
}
.jobDesc ul li {
  @apply text-base pb-2 pl-4;
}
.SingleJobDiv_active button,
.SingleJobDiv button {
  @apply float-right bg-[#ea5566] rounded-md py-2 px-4 text-white;
}

.SingleJobDiv_active,
.SingleJobDiv:hover {
  @apply text-white bg-[#0f4a7b] cursor-pointer;
}
.SingleJobDiv_active h1,
.SingleJobDiv:hover h1 {
  @apply text-white;
}
.SingleJobDiv_active button,
.SingleJobDiv:hover button {
  @apply bg-white  text-[#ea5566];
}
.jobDesc button {
  @apply bg-[#0F4A7B] text-white py-3 px-8 rounded-xl text-lg tracking-widest;
}

.ApplyModal {
  @apply fixed top-0 py-6 bottom-0 right-0 left-0 overflow-scroll;
  background-color: rgba(1, 25, 44, 0.8);
}
.ApplyModal div {
  @apply w-1/2 mx-auto bg-[#F9FBFD] p-10 rounded-md;
}
.ApplyModal div button {
  @apply float-right;
}
.ApplyModal div h1 {
  @apply text-2xl text-[#0f4a7b] mb-3 font-bold tracking-widest;
}
.ApplyModal div h2 {
  @apply text-xl mb-4;
}
.ApplyModal form {
  @apply mt-8 mb-16;
}
.ApplyModal form aside {
  @apply mb-8 w-full;
}
.ApplyModal form aside label {
  @apply text-[#0f4a7b] text-lg font-bold;
}
.ApplyModal form aside input[type="text"],
.ApplyModal form aside input[type="email"] {
  @apply w-full border-[1px] border-[#0f4a7b] text-lg p-4 rounded-lg mt-2;
}
.ApplyModal form button {
  @apply w-full bg-[#0f4a7b] py-4 float-none text-base font-bold text-white;
}
.upload {
  @apply bg-white text-center w-full flex flex-col items-center justify-center py-12 mb-8 font-bold border-[1px] border-[#0f4a7b] text-[#0f4a7b] text-base p-4 rounded-lg;
}
.upload input[type="file"] {
  @apply hidden;
}
.upload label {
  @apply inline-block bg-[#0f4a7b] cursor-pointer py-4 w-48 rounded-md mt-2 float-none text-base font-bold text-white;
}
.Footer {
}
