@import url("http://fonts.cdnfonts.com/css/gilroy-bold");

* {
  font-family: "Gilroy-Regular", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Gilroy-Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.css-1480iag-MuiInputBase-root-MuiInput-root {
  font-family: "Gilroy-Regular", sans-serif !important;
}
